# Practice Problem 2

## Data Labelling

In short data labelling is the process of making a csv file where you will give each class of data a different label(in our case a class no).
<br>Here is an example :

In [17]:
!pip install pandas
import pandas as pd
df = pd.read_csv('temp.csv')
df

Requirement already satisfied: pandas in /home/sadigo/anaconda3/envs/torchUS/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/sadigo/anaconda3/envs/torchUS/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /home/sadigo/anaconda3/envs/torchUS/lib/python3.7/site-packages (from pandas) (2019.2)
Requirement already satisfied: numpy>=1.12.0 in /home/sadigo/anaconda3/envs/torchUS/lib/python3.7/site-packages (from pandas) (1.16.4)
Requirement already satisfied: six>=1.5 in /home/sadigo/anaconda3/envs/torchUS/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

   Class Name  Label
0           অ      0
1           আ      1
2           ই      2
3           ঈ      3
4           উ      4
5           ঊ      5
6           ঋ      6
7           এ      7
8           ঐ      8
9           ও      9
10          ঔ     10

## Work

1. get all the file names from _./data/IUB1_ & _./data/IUB2_ 
2. these file names are list of strings like ['অ_BRAC1_Scan_0005.png','এ্যা_BRAC1_Scan_0013.png'....]. use these file names to get the class names (in these case অ,এ্যা ...). See <a href="https://www.geeksforgeeks.org/python-string-split/">string split</a>
3. after getting all the class names, export these names in a csv file. also give them class no.
<br> your exported csv file will be like this :

In [15]:
df2 = pd.read_csv('../dataTemp/label.csv')
df2

   grapheme  label
0         অ      0
1         এ      1
2      এ্যা      2
3        কৃ      3
4      ক্কো      4
5      ক্ষো      5
6     ক্ষ্য      6
7        গী      7
8      গ্মি      8
9    গ্ল্যা      9
10     ঙ্ঘি     10
11       চি     11
12     ছ্যা     12
13     জ্যো     13
14     ঞ্জু     14
15      ড্ড     15
16       ণু     16
17     ণ্ডে     17
18      ত্র     18
19       দূ     19
20     দ্বু     20
21     দ্যো     21
22       না     22
23       নৃ     23
24    ন্ত্ব     24
25   ন্ত্রী     25
26    ন্ধ্য     26
27     ন্মে     27
28      পিঁ     28
29       ফা     29
30       বু     30

<br> INPUT : _./data/IUB1_ & _./data/IUB2_  : dataset of 32 image
<br> OUTPUT : _myLabel.csv_ : myLabel named labelling csv file

<img src="https://media3.giphy.com/media/Lny6Rw04nsOOc/giphy.gif?cid=790b7611a5fcfbcd8e453cddfc3fcfb46d74ba06c4e0b04c&rid=giphy.gif" alt="" title="Let's code" />